#navbar {
    background-color: #ffffff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 0px rgb(205, 205, 205);
    
}

#fullLogo{
    margin-left: 5%;
    display: flex;
    
}

#logo {
    width: auto;
    height: 60px;
    user-select: none;
}

#title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
    cursor:default;
}
#title1{
    color: #2300B3;
}
#title2{
    color: #68F145;
}
#menu-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}
#allPhones, #repair, #compare, #cart, #phoneUpload {
    color: rgb(0, 0, 0);
    cursor: pointer;    
    text-align: center;
    font-size: 80%;
    margin-bottom: 5px; 
    font-size: 105%;
    margin-left: 2%;
    margin-right: 2%;

}
#allPhones:hover, #repair:hover, #compare:hover, #cart:hover, #phoneUpload:hover {
    scale: 110%;
    text-shadow: 
        1px 0 0 black;    
    text-decoration: underline dashed;
}

#searchBar {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

#searchBarInput {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    min-width: 150px; 
    padding: 3%;
}

#searchBarInput:hover {
    border: 1px dashed rgb(0, 0, 0);
}

#fullLogin{
    margin-right: 5%;
}
#fullLogin:hover{
    scale: 110%;
}
#userChange {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-style: italic;
    margin-right: 5%;
}
#userName {
    margin-right: 5px;
    color: rgb(0, 0, 0);
}
#userIcon {
    margin-left: 10% ;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 5%;
    border-radius: 50px;
}


/* Asztali nézet: 12 oszlopos grid, ahol az 1. és a 12. oszlop üresen marad */
#contentRow {
    display: grid;
    grid-template-columns: 1fr repeat(10, 1fr) 1fr;
    gap: 20px;
    justify-content: center; /* A teljes grid középre igazítása */
  }
  
  .phoneCard {
    margin-top: 10%;
    width: 250px;       
    height: auto;      
    border: 2px solid #008fb3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;      
    text-align: center;
    position: relative;
    cursor: pointer;
    box-sizing: border-box; 
  }
  
  
  /* Kisebb képernyőn/zoomolt nézetben a grid 1 oszlopos */
  @media (max-width: 768px) {
    #contentRow {
      grid-template-columns: 1fr;
    }
    /* Ekkor ne állítsuk be a konkrét grid pozíciót */
    .phoneCard {
      grid-column: auto;
    }
  }

  .phoneName {
    font-family: 'Inter', sans-serif;
    font-size: 250%;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;

    white-space: nowrap; /* Ne törje meg a sort */
    overflow: hidden;    /* Túlcsordulás elrejtése */
    text-overflow: ellipsis; /* Három pont (ellipszis) a túl hosszú szövegnél */
    max-width: 100%; /* Ne engedje túlcsordulni */
    text-align: center; /* Középre igazítás */
}

.phonePrice {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 150%;
    color: #000000;
}

.phoneStock {
    font-family: 'Inter', sans-serif;
    font-size: 125%;
    font-weight: 400;
    color: #539542;
    margin-top: 5px;
}

.cardButtons {
    display: flex;
    gap: 10px;
    margin-top: 7%;    
}

.button {
    width: 75px;
    height: 74px;
    background: #68F145;
    border: 2px solid #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button img {
    width: 80%;
    height: auto;
}

.phoneImage {
    width: 100%;
    height: auto;
}

.carouselButton{
    background-color: #E7C49D;
    border-radius: 100%;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-btn{
    margin-top: 5%;
    background-color:unset;
    border: white solid 0px;
}

.eventCard{
    height: 97%;
    margin-top: 5%; 
    width: auto;
    border: 2px dashed red;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.liveEvent{
    font-family: 'Inter', sans-serif;
    font-size: 200%;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;
}

.eventName{
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;
}

.eventCompanyLogo{
    margin-top: 30%;
    margin-bottom: 30%;
    width: 50%;
    height: auto;
}

.eventDate{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 150%;
    color: #000000;
}

.eventButton{
    margin-top: 10%;
    width: 60%;
    height: 10%;
    background: #EFFF95;
    border: 2px dashed #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.service-section {
    margin-top: 50px;
    padding: 40px 0;
    text-align: justify;
}
.service-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.service-text h2 {
    color: #2300B3;
    font-weight: bold;
    margin-bottom: 15px;
}
.service-text p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}
.service-text ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
}
.service-btn {
    margin-top: 20px;
    background-color: #68F145;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.service-btn .btn-link {
    text-decoration: none;
    color: white;
}
.service-image {
    position: relative;
    overflow: hidden;
}
.service-image img {
    width: 110%;
    max-width: none;
    border-radius: 15px;
    position: relative;
    right: -10%;
}
footer {
    background-color: #ddd;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    
}
footer h3 {
    margin-bottom: 15px;
    font-weight: bold;
}
.partner-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.partner-logos img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
footer .footer-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer .footer-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer .address {
    margin-top: 15px;
    font-size: 0.9em;
    color: #333;
}

img{
    user-select: none;
}

.hr {
    width: 85%;
    margin: 0 auto;
}

hr{
    margin: 20px auto;         /* Középre helyezzük */
  border: 0;                 /* A szélét eltávolítjuk */
  border-top: 2px solid black; /* Csak a felső határt adunk hozzá */
  border-radius: 10px;     
}

a{
    text-decoration: none;
}
