/* TextBox */
.textBox {
    position: relative;
    width: auto;
    margin: 2%;
}

.textBoxLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: grey;
    pointer-events: none;
    transition: 0.2s ease;
    font-style: italic;
}

.textBoxInput {
    width: 100%;
    padding: 10px;
}

.textBoxInput:focus + .textBoxLabel,
.textBoxInput:not(:placeholder-shown) + .textBoxLabel {
    top: -2px;
    left: 3px;
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 0 3px;
    font-style: normal;
}