.registerContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../../public/images/PhoneScoutLogo.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.formContainer {
    background-color: #fff;
    padding: 40px 5vw;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: 80vw;
    max-width: 500px;
    height: auto;
    position: relative;
    transition: max-width 0.4s ease-in-out;
}

.formContainer.expanded {
    max-width: 1000px;
    max-height: 95vh;
}

.backLinkContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.9rem;
}

.formContainer h2 {
    text-align: center;
    color: #333;
    font-size: 3rem;
    margin-bottom: 5.5rem;
}

.formContainer h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.inputContainer {
    position: relative;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.submitButton {
    background-color: #28a745;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.submitButton:hover {
    background-color: #218838;
}

.switchLink:link, .switchLink:visited {
    color: green;
    text-decoration: none;
}

.formContainer i {
    height: 20px;
    margin-right: 5px;
}

.formContainer .fa-solid {
    font-size: 12px;
}

.formLayout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    transition: grid-template-columns 0.4s ease-in-out;
}

.formLayout.expanded {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.formRow .mainTitle {
    margin-bottom: 0;
}

.formRow .inputContainer {
    flex: 1;
    margin-right: 20px;
}

.formRow .inputContainer:last-child {
    margin-right: 0;
}

.billingPlaceholders label {
    display: block;
    color: #999;
    font-size: 1.1rem;
    margin-top: 0.8rem;
}

.billingPlaceholders label:first-child {
    width: 50%;
}

.checkboxContainer {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.checkboxContainer input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}