.row {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.hr {
    width: 85%;
    margin: 0 auto;
}

hr {
    margin: 20px auto;
    /* Középre helyezzük */
    border: 0;
    /* A szélét eltávolítjuk */
    border-top: 2px solid black;
    /* Csak a felső határt adunk hozzá */
    border-radius: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically if needed */
    gap: 10px;
    /* optional space between dots */
    margin-top: 10px;
    /* optional spacing above */
}


.dot {
    background-color: white;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
}

.dotActive {
    background-color: black;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    border-radius: 50%;
}

#contentRow {
    display: flex;
    justify-content: center;
    /* centers cards horizontally */
    flex-wrap: wrap;
    /* allows cards to go to new line if needed */
    gap: 20px;
    /* adds space between cards */

}

.service-section {
    margin-top: 50px;
    padding: 40px 0;
    text-align: justify;
    width: 85%;
}

.service-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.service-text h2 {
    color: #2300B3;
    font-weight: bold;
    margin-bottom: 15px;
}

.service-text p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

.service-text ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
}

.service-btn {
    margin-top: 20px;
    background-color: #2300B3;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.service-btn .btn-link {
    text-decoration: none;
    color: white;
}

.service-image {
    position: relative;
    overflow: hidden;
}

.service-image img {
    width: 90%;
    max-width: none;
    border-radius: 15px;
    position: relative;
    right: -10%;
}